@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.loader {
  @apply w-fit px-8 text-bodyM_regular text-base-5 bg-base-5 rounded-md animate-pulse;
}
